html, body {
	overflow-x:hidden;
	font-family: 'Noto Sans JP', sans-serif;
	background: linear-gradient(-45deg, #cc1a5b 0%, #cc6b8e 20%, #a86aa4 40%, #8f6aae 60%, #7b5fac 80%, #3f51b1 100%);
	background-size: 400% 400%;
	animation: animate 5s ease-in-out infinite;
}

.section {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
  	justify-content: center;
	flex-direction: column;
}

#intro-section {
	color: #ffffff;
	/* background: linear-gradient(-45deg, #cc1a5b 0%, #cc6b8e 20%, #a86aa4 40%, #8f6aae 60%, #7b5fac 80%, #3f51b1 100%);
	background-size: 400% 400%;
	animation: animate 5s ease-in-out infinite; */
	position: relative;
}

@keyframes animate{
	0%{
	  background-position: 0 50%;
	}
	50%{
	  background-position: 100% 50%;
	}
	100%{
	  background-position: 0 50%;
	}
  }

  #nav {
	  /* position: absolute; */
	  top: 0;
	  left: 0;
	  width: 100%;
	  text-align: right;
	  position: fixed;
	  z-index: 5;
	  padding: 15px;
  }

  #nav a {
	  margin-left: 15px;
	  margin-right: 15px;
  }

  #nav a:hover {
	text-decoration: underline;
}

#userimg {
	width: 30%;
	border-radius: 30%;
}

#intro-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	border: 3px solid white;
}


/* BORDER ANIMATION */

.box {
	box-sizing: border-box;
	width: 70%;
	height: 80vh;
	background-color: #cc1a5b;
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 5px 0 #e2a6fa;
	border-radius: 20px;
	animation-name: mask-border;
	animation-duration: 5s;
	animation-iteration-count: infinite;
  }
  .box::after {
	content: '';
	width: 100%;
	height: 62vh;
	opacity: 0;
	background-color: #c28199;
	transform-origin: center center;
	position: absolute;
	z-index: 1;
	/* animation-delay: 1s; */
	animation-name: mask-border-ani;
	animation-duration: 5s;
	animation-iteration-count: infinite;
  }
  .box-content {
	width: 97%;
	height: 95%;
	vertical-align: top;
	z-index: 5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fffafc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: #000000;
	border-radius: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
  }

  #skills-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
  }

  @keyframes mask-border-ani {
	0% {
	  opacity: 0.8;
	  transform: rotate(-36deg) translate(-126px, -190px);
	  background-color: #c28199;
	}
  
	100% {
	  opacity: 0.8;
	  transform: rotate(-36deg) translate(-126px, 355px);
	  /* background-color: #c6bcd6; */
	}
  }


.nav-colored { background-color:rgba(81, 40, 92, 0.274); }
.nav-transparent { background-color:transparent;}

#tablinks {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	
}

#tablinks p {
	margin: 0;
}

.tablink {
	background: none;
	border: none;
	font-weight: bolder;
	color: #bebdbd;
}

.selectedtab {
	color: #3f51b1;
	font-weight: 900;
}

.lang {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px;
}

.langimg {
	width: 100px;
	height: 100px;
}

#langs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#oss {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#oth {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.skills {
	width: 80%;
	margin-top: 20px;
}


#projects-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
  }

  #Pslides {
	  width: 100%;
  }

  .projectSlide {
	  background-color: #ffffff;
	  box-shadow: 1px 2px 1px 2px #bebebe;
	  /* width: 358px; */
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  padding: 10px;
	  border-radius: 10px;
  }

  
  /* SLIDES CONTAINER */
  
.slider-container {
	display: block;
	margin: 0 auto;
	min-height: 390px;
	height: 50%;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
	padding: 20px 10px 40px 10px;
	overflow: hidden;
  }
  
  .slider-container .slide {
	display: none;
	height: 100%;
	width: 100%;
	margin: 0px auto;
	background: white;
	font-size: 40px;
	font-family: var(--font-1);
	text-align: center;
	align-items: center;
  }
  
  .slider-container .slide img {
	height: auto;
	width: 100%;
  }
  
  .slider-container .active {
	display: block;
  }
  
  .control-container {
	display: inline-flex;
	width: 100%;
  }
  
  .control-container button {
	border: none;
	border-radius: 50%;
	background: white;
	font-size: 20px;
	height: 35px;
	width: 35px;
	outline: none;
  }
  
  .control-container button:hover {
	background: #ccc;
  }
  
  .slide-indicator {
	width: 100%;
	display: flex;
	justify-content: center;
  }
  
  .slide-indicator .indicator {
	height: 20px;
	width: 20px;
	transition: background 0.5s ease;
	background: #ccc;
	margin: 5px;
	display: inline-block;
	border-radius: 50%;
  }
  
  .slide-indicator .indicator:hover {
	background: darkgrey;
  }
  
  .slide-indicator .active {
	background: grey;
  }

  /* After slides */
  
  .project-button {
	background-color: #7b5fac;
	box-shadow: 2px 2px #f1dbff; /* Green */
	color: white;
  }

  .project-button:hover {
	background-color: #544175;
	color: white;
  }
