/* Minimum aspect ratio */
/*@media (min-aspect-ratio: 8/5) {
  div {
    background: #9af; 
  }
}
*/

#main {
	width: 100%;
	background-color: #ffffff;	
	color: #c7197c;
	text-align: center;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	/* -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
	-webkit-transition: opacity 2s ease-in;
	/*animation-duration: 2s;*/
	animation-iteration-count: infinite; */
}

.main-icon {
	margin-left: auto;
  	margin-right: auto;
  	display: block;
	width: 300px;
	height: 300px;
}

/* Standard syntax */
@keyframes example {
  from {background-image: linear-gradient(#5680E9,#5AB9EA,#84CEEB,#C1C8E4);}
  to {background-image: linear-gradient(#5AB9EA,#84CEEB,#C1C8E4,#8860D0);}
}


#about {
	background-color: #c7197c;
	width: 100%;
	text-align: center;
	color: #ffffff;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

#projects {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: #ffffff;	
	color: #c7197c;
	text-align: center;
	/*height: 100vh;*/
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.container projects {
	width: 50%;
}


.row {
	padding-bottom: 20px;
	padding-top: 20px;
}
.card {
	width: 80%;
	min-height: 200px;
	border-radius: 15px;
	/*margin-left: 100px;*/
}

.card-title {
	font-weight: 200;
}

.button-primary {
	background-color: #c7197c;
	color: white;
	border: none;  
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;

}

.button-primary:hover {
	background-color: #630b3d;
	color: white;
	border: none;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
}


footer {
	padding-top: 10px;
	text-align: center;
	background-color: #c7197c;
	width: 100%;
	color: #ffffff;
}

#hrline {
	letter-spacing: 15px;
	color: #cccccc;
}

.button-connect {
	max-width: 40px;
	max-height: 40px;
}

.button-connect:hover {
	box-shadow: 3px 3px #630b3d;
}

.navbar {
	background-color: #c7197c;
}

.nav-link{
	color: #ffffff;
}

.nav-link:hover {
	color: #ccc0c7;
}


.flip-card {
	background-color: transparent;
	width: 300px;
	height: 200px;
	border: 1px solid #f1f1f1;
	box-shadow: 3px 3px #eeeeee;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #dddddd;
	color: #5c5e5c;
	transform: rotateY(180deg);
  }

  .project-image {
	  width: 300px;
	  height: 200px;
  }