.section3 {
  /* position: absolute; */
  margin-top: -15vh;
  height: 95vh;
  width: 95vw;
  background-color: #000;
  background-position: top;
  position: relative;
  /* clip-path: polygon(0 20vh, 100% 0vh, 100% 75vh, 0 100%); */
  /* padding: 10px; */
  clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
}

.section3-inner {
  height: 93vh;
  width: 94vw;
  position: absolute;
  top: 1vh; /* equal to border thickness */
  left: 0.5vw;
  background-image: linear-gradient(to right bottom, #009f0cc4, #00cc60c4),
    url("../../img/texturebg1.jpg");
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
  /* margin: 10px; */
}
