@font-face {
  font-family: "ComicBook";
  src: local("ComicBook"),
    url(../fonts/comic_book/ComicBook.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Avengence";
  src: local("Avengence"),
    url(../fonts/avengeance_mightiest_avenger/AVENGEANCEMIGHTIESTAVENGER.ttf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.App {
  font-family: "ComicBook", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.3em;
  margin: 2vw;
  position: relative;
}
