
@font-face {
  font-family: 'ComicBook';
  src: local('ComicBook'), url(./fonts/comic_book/ComicBook.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Avengence';
  src: local('Avengence'), url(./fonts/avengeance_mightiest_avenger/AVENGEANCEMIGHTIESTAVENGER.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body {
  /* background-color: #2d2c41; */
  /* background-image: url('./images/Website-Bg.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: url('./images/Website-Bg.jpg'); */
  /* background-image: linear-gradient(#2d2c41,#22143b); */
  font-family: 'Roboto', sans-serif;
  background-image:radial-gradient(closest-side, palegreen, yellowgreen);

}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  color: white;
}

.section1 {
  /* background-color: #f33131; */
  background-image:radial-gradient(closest-side, lightcoral, tomato);
}

.section2 {
  /* background-color: #fcdb00; */
  background-image:radial-gradient(closest-side, yellow, orange);

}

.section3 {
  /* background-color: #3398d0; */
  background-image:radial-gradient(closest-side, lightblue, deepskyblue);

}

.section4 {
  /* background-color: #7efc39; */
  background-image:radial-gradient(closest-side, palegreen, yellowgreen);

}

.vskew {
  transform: skewY(-5deg);
  /* padding: 20rem; */
  /* margin: 5px; */
  /* background-color: green; */
}

/* .vskew:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 5px solid black;
} */

.vskew .container {
  transform: skewY(5deg);
}

.vskew-red {
  /* background-color: #f33131; */
  background-image:radial-gradient(closest-side, lightcoral, tomato);
  border-bottom: 5px solid white;
  padding: 8rem; 
}

.vskew-red:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 5px solid black;
}

.vskew-yellow {
  /* background-color: #fcdb00; */
  background-image:radial-gradient(closest-side, yellow, orange);
  border-bottom: 5px solid white;
  border-top: 5px solid black;
  padding: 20rem; 
}

.vskew-yellow:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 5px solid black;
}



.vskew-blue {
  /* background-color: #3398d0; */
  background-image:radial-gradient(closest-side, lightblue, deepskyblue);

  border-bottom: 5px solid white;
  border-top: 5px solid black;
  padding: 25rem; 
}

.vskew-blue:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-bottom: 5px solid black;
}

.vskew-green {
  /* background-color: #7efc39; */
  border-top: 5px solid black;
  background-image:radial-gradient(closest-side, palegreen, yellowgreen);
  /* border-top: 5px solid white; */
  padding: 8rem; 
}

.bubble {
  /* cap the width */
  max-width: 500px;
  /* give ample whitespace around and inside of the container */
  margin: 2rem 0;
  padding: 0.2rem 1.25rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'ComicBook';
  font-size: 2rem;
  font-weight: bold;
  color: black;
  letter-spacing: 0.2rem;
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.3" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #fff;
  background-size: 12px, 100%;
  /* solid border */
  border: 0.4rem solid #000;
  /* position relative for the :before pseudo element */
  position: relative;
}

.bubble:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.15rem;
  width: 100%;
  height: 100%;
  /* with the same texture, but different color, for both the texture and the background */
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(35)" opacity="1" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #000;
  background-size: 12px, 100%;
  border: 0.4rem solid #000;
  z-index: -5;
}

.websitelogo path {
  /* width: 50%; */
  fill: transparent;
  stroke-width: 200;
  stroke: #0d4c54;
  stroke-dasharray: 93000;
  stroke-dashoffset: 0;
}

.websitelogo:hover path {
  animation: animate-logo 5s linear forwards;
}

@keyframes animate-logo {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 93000;
  }
  80% {
    stroke-dashoffset: 186000;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 186000;
    fill: #0d4c54;
  }
}

.cloud {
  background: #FFFFFF;
  height: 60px; width: 60px;
  box-shadow:
  #FFFFFF 65px -15px 0 -5px, 
  #FFFFFF 25px -25px, 
  #FFFFFF 30px 10px, 
  #FFFFFF 60px 15px 0 -10px, 
  #FFFFFF 85px 5px 0 -5px;
  border-radius: 50%;
  transform: scaleX(5) scaleY(2);
}
/* 
.cloud:before {
  background: #000;
  height: 60px; width: 60px;
  box-shadow:
  #000 65px -15px 0 -5px, 
  #000 25px -25px, 
  #000 30px 10px, 
  #000 60px 15px 0 -10px, 
  #000 85px 5px 0 -5px;
  border-radius: 50%;
  padding: 3rem 3rem;
} */

.headingNameSection {
  position: relative; 
  margin: 0 auto; 
  text-align: center 
}

.headingNameTop {
  font-family: 'Avengence';
  font-size: 8rem;
  transform: skewY(-5deg);
  -webkit-text-stroke-width: 0.0001em;
  -webkit-text-stroke-color: black;
  letter-spacing: 0.01em;
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  /* position: absolute; top: 0; */
  
}

.headingNameBottom {
  font-family: 'Avengence';
  font-size: 8rem;
  transform: skewY(-5deg);
  
  letter-spacing: 0.01em;
  color: black;
  /* position: absolute; top: 10px; */
  /* -webkit-text-fill-color: transparent; */
}
/* .headingName::before {
  text-shadow: 5px 13px  #000; 
} */