@font-face {
  font-family: "Futura";
  src: url("../src/assets/futura/futur.ttf");
}

@font-face {
  font-family: "Celestia";
  src: url("../src/assets/celestia-font/Celestia-rvYr8.ttf");
}

@font-face {
  font-family: "Transcity";
  src: url("../src/assets/transcity/Transcity\ DEMO.otf");
}

html,
body {
  overflow-y: hidden;
}

#root {
  width: 100%;
  margin: 0 auto;

  background: linear-gradient(180deg, #fca3b7 0%, #872341 100%);

  background-size: "400% 400%";
  height: 100vh;

  animation: gradientLinearDesign 25s ease infinite;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientLinearDesign {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Futura;
}

.main-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.horizontal-scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.sectionMain {
  flex: 0 0 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 120px;
  scroll-snap-align: start;
  overflow-y: auto;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  z-index: 15;
}

.contactBotLocation {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 10px 0;
  z-index: 19;
  border-radius: 30px;
  overflow-y: scroll;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sectionHeading {
  font-family: Celestia;
  font-size: 4em;
  margin-bottom: 20px;
}

.loadingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
